" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

set scrolloff=999

" Do incremental searching.
set incsearch
set hlsearch
map <Esc> :set nohlsearch<CR>
set clipboard+=unnamed
set clipboard+=ideaput
" Don't use Ex mode, use Q for formatting.
map Q gj
map <C-c> <Esc>
map <leader>; :
" nnoremap <leader>; :
" vnoremap <leader>; :

let mapleader = " "

nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
set relativenumber number

" delete without yank
nnoremap ;d "_d
vnoremap ;d "_d
" better line joining
nnoremap J mzJ`z
" paging cursor center
nnoremap <C-d> <C-d>zz
vnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
vnoremap <C-u> <C-d>zz
" search selection cursor center
nnoremap n nzzzv
nnoremap N Nzzzv


nnoremap <leader>of :!open .<CR>


" ------------------ PLUGINS and IDEAVIM---------------------
nnoremap <c-z> :action ToggleDistractionFreeMode<CR>
nnoremap <c-t> :action ActivateTerminalToolWindow<CR>
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>
nmap <leader>sf <action>(GotoFile)
nmap <leader>rn <action>(RenameElement)
nmap <leader>rf <action>(RenameFile)
nmap <leader>wa <action>(SaveAll)
" nmap <leader>ca <action>(ShowIntentionActions)

" window navigation
nnoremap <leader>vv :action SplitVertically<CR>
nnoremap <leader>vh :action SplitHorizontally<CR>
nnoremap <leader>w :action CloseContent<CR>
nmap <leader>ca :action ShowIntentionActions<CR>
map ]d :action GotoNextError<CR>
map [d :action GotoPreviousError<CR>

nnoremap <c-=> :action UnSplit<CR>

sethandler <c-j> a:vim
sethandler <c-k> a:vim

nnoremap <s-TAB> :action PreviousTab<CR>
nnoremap <TAB> :action NextTab<CR>

nmap <leader>db <Action>(ToggleLineBreakpoint)

nnoremap <c-s> :action FileStructurePopup<CR>
" nnoremap <c-o> :action GotoSymbol<CR>
nnoremap <leader>ss :action GotoSymbol<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gD :action GotoDefinition<CR>
nnoremap gp :action GotoSuperMethod<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>
nnoremap K :action ShowHoverInfo<CR>
" terminal
nmap <c-.> <Action>(Terminal)
" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'terryma/vim-multiple-cursors'
Plug 'vim-scripts/argtextobj.vim'

map <leader>f <Action>(ReformatCode)
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>
set which-key
set timeoutlen=5000

map <c-e> :NERDTreeToggle<CR>