" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

set scrolloff=8

" Do incremental searching.
set incsearch
set hlsearch
set ignorecase
map <Esc> :set nohlsearch<CR>
set clipboard+=unnamed
set clipboard+=ideaput
" Don't use Ex mode, use Q for formatting.
map Q gj
map <C-c> <Esc>
map <leader>; :
" nnoremap <leader>; :
" vnoremap <leader>; :

let mapleader = " "

nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
set relativenumber number

" delete without yank
nnoremap ;d "_d
vnoremap ;d "_d
" better line joining
nnoremap J mzJ`z
" paging cursor center
nnoremap <C-d> <C-d>zz
vnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
vnoremap <C-u> <C-d>zz
" search selection cursor center
nnoremap n nzzzv
nnoremap N Nzzzv


nnoremap <leader>of :!open .<CR>
map \f <Action>(ReformatCode)


" ------------------ PLUGINS and IDEAVIM---------------------
map \d <Action>(QuickImplementations)
map <c-z> <Action>(ToggleDistractionFreeMode)
map <c-t> <Action>(ActivateTerminalToolWindow)
map <leader>t <Action>(Terminal.OpenInTerminal)
nmap <leader>sf <Action>(GotoFile)
nmap <leader>rn <Action>(RenameElement)
nmap <leader>rf <Action>(RenameFile)
nmap <leader>wa <Action>(SaveAll)
" nmap <leader>ca <action>(ShowIntentionActions)
 
" window navigation
map <leader>vv <Action>(SplitVertically)
map <leader>vh <Action>(SplitHorizontally)
map <leader>ca <Action>(ShowIntentionActions)
map ]d <Action>(GotoNextError)
map [d <Action>(GotoPreviousError)
map <leader>ch <Action>(SwitchHeaderSource)

nnoremap <c-=> :action UnSplit<CR>

sethandler <c-j> a:vim
sethandler <c-k> a:vim

map <s-TAB> <Action>(PreviousTab)
map <TAB> <Action>(NextTab)

map <leader>e <Action>(ShowProjectMenu)
nmap <leader>db <Action>(ToggleLineBreakpoint)

map <c-s> <Action>(FileStructurePopup)
" nnoremap <c-o> :action GotoSymbol<CR>
map <leader>ss <Action>(GotoSymbol)
map gi <Action>(GotoImplementation)
map gd <Action>(GotoDeclaration)
map gD <Action>(GotoDefinition)
map gp <Action>(GotoSuperMethod)
map gt <Action>(GotoTest)
map gb <Action>(Back)
map gf <Action>(Forward)
map K <Action>(ShowHoverInfo)

" terminal
nmap <c-.> <Action>(Terminal)
" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'terryma/vim-multiple-cursors'
Plug 'vim-scripts/argtextobj.vim'

nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>
set which-key
set timeoutlen=5000

map <c-e> :NERDTreeToggle<CR>